@model TechStock.Models.Brand

@{
    ViewData["Title"] = "Radera varumärke";
}

<h2>Radera varumärke</h2>
<h3>@Model.Name</h3>

<div>
    <hr />
    <h4>Är du säker på att du vill radera detta varumärke?</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till lista</a>
    </form>
</div>
